* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
* a {
  text-decoration: none;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/*HEADER*/
header {
  position: -webkit-sticky;
  position: sticky;
  background: #FFFFFF;
  position: sticky;
  text-align: left;
  width: 100%;
  z-index: 1020;
  box-shadow: rgba(20, 35, 85, 0.15) 0px 2px 6px 0;
}

/*MAIN*/
main .CarrosNovos {
  background-color: #bde0ff;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  padding: 16px;
  top: 66px;
  z-index: 999;
}
main .CarrosNovos div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
main .CarrosNovos #CarrosNovos {
  color: white;
  padding: 8px;
  border-radius: 4px;
  background: #0071CE;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  margin-left: 0;
}
main .CarrosNovos a {
  font-weight: 700;
  color: black;
  font-size: 14px;
  height: 24px;
  border-bottom: solid 2px black;
}
main .CarrosNovos span {
  font: inherit;
  font-size: 14px;
  margin-left: 16px;
}
main .CarrosNovos img {
  width: 16px;
  height: 16px;
  margin-left: 32px;
}
main .BarraAzul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #0071CE;
  color: white;
  padding: 16px;
  height: 92px;
}
main .BarraAzul h4 {
  margin-right: 24px;
  font: inherit;
}
main .BarraAzul a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 46px;
}
main .BarraAzul a:hover {
  padding: 9px 43px;
  border: 5px solid;
  border-color: #FFFFFF;
}
main .MainBottom .ListasMain {
  line-height: 26px;
  font-weight: 500;
  font-size: 11px;
}
main .MainBottom .ListasMain a {
  font-size: 11px;
  font-weight: 700;
  color: #66676C;
  text-decoration: underline;
}

@media (max-width: 576px) {
  main section {
    flex-direction: column;
    height: 110px;
  }
  main section h4 {
    margin-bottom: 16px;
  }
  main section a {
    width: 100%;
  }
}
/*FOOTER*/
footer {
  width: 100%;
  background-color: #EBECEF;
  padding: 48px 0;
  justify-content: center;
}
footer .footercontent {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto; /*Centers the section*/
  flex-flow: row wrap;
}
footer .footercontent a {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 12px;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
footer .footercontent article {
  margin: 0 16px;
  flex-basis: calc(25% - 32px);
}
footer .footercontent p {
  display: flex;
  font-size: 12px;
  align-items: center;
  color: inherit;
}
footer .footercontent img {
  margin-right: 8px;
}
footer .footercontent ul {
  list-style: none;
}
footer h6 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #020309;
  margin: 0;
  margin-bottom: 16px;
  margin-top: 16px;
}
footer #ColunaTituloAbaixo {
  margin-top: 48px;
}
footer span {
  height: 1px;
  width: 50%;
  border-top: 1px solid #DCDDE0;
  margin: 48px auto;
  text-align: center;
}
footer .footerbottom {
  min-width: 100%;
}
footer .footerbottom p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 24px;
  justify-content: center;
}
footer .footerbottom div {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */