*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

body{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

    
}

    /*OVERLAY*/

    .overlayOff{
        display:none;
    }

    .overlayOn{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.1);
        z-index: 5;
        cursor: pointer;
    }

    #overlaymenu{
        display: flex;
        background-color: white;
        padding: 16px;
        border-radius: 4px;
        height: 33%;
    }

    #vendaMenu{
        display: flex;

        .infoEstimativa{
            display:none;
        }

        .Estado {
            display:flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            width: 30%;
            background-color: transparent;
            margin:0 4px;
            padding: 30px 40px;
            font-family: sans-serif;

            p{
                margin-top: 40px;
                font-size: 23.4px; 
                font-family: sans-serif;
            }

            &:hover{
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.123);
                .infoEstimativa{
                    display:flex !important;
                    flex-direction: column;
                    white-space: nowrap;
                }
                p{
                    margin-top: 0px;
                }
            }
        }

        h1{
            font-size: 20px;
            font-weight: 700;
            margin: 0 5px;
            margin-bottom: 16px;
            white-space: nowrap;
            width: 145px;
            text-align: center;
        }
    }

    #vendaMeio{
        display: flex;
        width: 33%;
        border-left: 1px solid black ;
        border-right: 1px solid black;
    }

    /*HEADER*/

header{
    background:white;
    position: sticky;
    text-align: left;
    width: 100%;
    box-shadow: rgb(20 35 85 / 15%) 0px 2px 6px 0;
    top:0px;
    z-index: 2;


    #headercontent{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding:0 24px;

        
        .headerleft{
            div{
                display: flex;
                align-items: center;
            }

            span{
                color: #020309;
                display: block;
                font-size: 13px;
                font-weight: 600;
                line-height: 11px;
                text-align: right;
            }

            #aLogo{
                display: inline-block;
                margin: 0;
                overflow: hidden;
                position: relative;
                width: 202px;
            }

            #logo{
                display: inline-block;
                vertical-align: middle;
                width: 100%;
            }
            

            .badge{
                display:flex;
                margin-left:16px;

                div{
                    width: 31px;    
                    height: 51px;
                    margin-right: 8px;
                }

                p{
                    color: #398B72;
                    display: inline-block;
                    width: 120px;
                    font-size: 10px;
                    line-height: 16px;
                    font-weight: 700;
                }

            }


        }
    }

    nav{
        display: block;

        ul{
            display: flex;
            float: right;
            padding: 13px 0;
            height: 100%;
            align-items: center;
            margin-left: 15px;
        }
        
        a{
            display: flex;
            align-items: center;  
            padding: 0 15px;
            color: #66676C;
            font-size: 13px;

            span{
                margin-left: 10px;
            }
        }

        #navNovo{
            background: #C82814;
            font-weight: 700;
            padding: 0 3px;
            border-radius: 4px;
            margin-right: 10px;
            font-size: 8px;
            line-height: 16px;
            height: 16px;
            color: #FFFFFF;
        }

        button{
            padding: 3px 8px;
            align-items: center;
            border: 0;
            border-radius: 0;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-flex;
            justify-content: center;
            margin: 0;
            min-height: 40px;
            text-decoration: none;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            background-color: #0071CE;
            border: 5px solid #0071CE;
            border-radius: 4px;
            color: #FFFFFF;

            &:hover{
                background-color: white;
                color:#0071CE
            }

        }

        div{
            display: flex;
            padding: 0 15px;

            span{
                font-size: 13px;
                color: #66676C;
            }
        }

        #loginorcreate{
            a{
                padding: 0!important;
                margin-right: 4px;
                margin-left: 8px;
            }
            div{
                padding: 0 !important;
                
            }
            img{
                fill: #66676C;
            }
        }
        
    }


}


    /*MAIN*/

main{
    .CarrosNovos{
        background-color: #bde0ff;
        position:sticky;
        width:100%;
        padding:16px;
        top: 66px;
        z-index: 1;

        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin:0 auto;
        }

        .pesquisa-tablet{
            display: none;
        }

        #CarrosNovos{
            color: white;
            padding: 8px;
            border-radius: 4px;
            background: #0071CE;
            font-weight: 600;
            font-style: italic;
            font-size: 18px;
            margin-left: 0;
        }

        a{
            font-weight: 700;
            color:black;
            font-size: 14px;
            height: 24px;
            border-bottom: solid 2px black;
        }

        span{
            font:inherit;
            font-size: 14px;
            margin-left: 16px;
        }

        img{
            width: (100% -16px);
            height: 16px;
            margin-left: 32px;
        }
    }
    
    .Principal{
        #BannerTelemovel{
            display: flex;
            height: 150px;
            width: 100%;
            justify-content: center;
        }
        .Banner{

            img{
                width: 100%;
                height: 100%;
            }
        }

        .FormsBox1{
            display: flex;
            flex-direction: column;
            min-height: 432px;
            border-radius: 4px;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
            background-color: white;

            ul{
                display: flex;
                width: 100%;
                li{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-grow: 1;
                    border-right: 1px solid rgba(0, 0, 0, 0.151);
                    background: #f8f8fd;
                    cursor: pointer;

                    &:hover{
                        svg{
                            fill: #0071CE;
                        }
                        p{
                            color: #0071CE;
                        }
                    }

                    &:last-child{
                        border: 0;
                    }
                    &:first-child{
                        background: white;
                        svg{
                            fill: #0071CE;
                        }
                        p{
                            color: #0071CE;
                        }
                    }
                }

                svg{
                    width: 32px;
                    height: 32px;
                    margin-bottom: 1px;
                    margin-top: 5px;
                }

                p{
                    margin-bottom: 12px;
                }
                #Outros{
                    margin-bottom: 0px;
                }
            }
            
            .FormsBox2{
                display: flex;
                flex-direction: column;
                padding: 16px;

                h1{
                    font-weight: 700;
                    letter-spacing: 0.5px;
                    font-size: 16px;
                    color: #020309;
                    margin-bottom: 24px;
                }

                form{
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-grow: 2;

                    #optionsbox{
                        display: flex;
                        flex-flow: row wrap;
                    }

                    .option{
                        width: calc(50% - 24px);
                        margin-right: 24px;
                        margin-bottom: 24px;

                        p{
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: 600;
                            color: #020309;
                            margin-bottom: 8px;
                        }
                    }

                    .inputbox{
                        display: flex;
                        border-radius: 4px;
                        background-color: #EBECEF;
                    }

                    input{
                        cursor: pointer;
                        width: 100%;
                        height: 44px;
                        background: transparent;
                        border: 0;
                        caret-color: #020309;
                        color: #66676C;
                        flex: 1;
                        font-size: 16px;
                        line-height: 20px;
                        outline: 0;
                        padding-left: 16px;
                    }
                    button{
                        display: flex;
                        align-items: center;
                        height: 44px;
                        background: transparent;
                        cursor: pointer;
                        padding: 0 16px;
                    }
                    svg{
                        height: 24px;
                        width: 24px;
                        color: #020309;
                    }

                    #submit{
                        display: flex;
                        width: calc(50% - 24px);
                        justify-content: center;
                        align-items: center;

                        button{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            background-color: #C82814;
                            border: 5px solid #C82814;
                            color: white;
                            border-radius: 4px;
                            font-weight: 700;
                            font-size: 16px;

                            &:hover{
                                background: white;
                                color: #C82814;
                            }
                        }
                    }
                }
            }
        }

        .OportunidadeDoDia{
            display: flex;
            flex-direction: column;
            background: white;
            grid-row: 4;
            grid-column: 2;

            img{
                flex-basis: 285px;
                min-height: 285px;
                width: 100%;
                height: auto;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                object-fit: cover;
                flex: 2 1;
                flex-basis: 0%;
                aspect-ratio: 4/3;
            }

            .ODDInfo{
                padding: 16px;
                position: relative;
                
                .ODD{
                    position: absolute;
                    top: 0;
                    left: 16px;
                    transform: translateY(-75%);
                    padding: 8px 16px;
                    border-radius: 4px;
                    color: #FFFFFF;
                    font-size: 1.375rem;
                    font-weight: 700;
                    background-color: #00A49F;
                }

                h2{
                    margin-bottom: 11px;
                    line-height: 1.18;
                    font-size: 26px;
                }   

                li{
                    font-weight: 600;
                }
            }
        }

        .AnunciosEmDestaque{

            .DestaqueHeader{
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
                h2{
                    font-size: 24px;
                }
                a{
                    text-decoration: underline;
                    font-size: 20px;
                    color: #0071CE;
                }
            }
    
            section{
                display: flex;
                width: 100%;
                justify-content: space-between;
    
                a{
                    width: calc(50% - 8px);
                    margin-bottom: 16px;
    
                    article{
                        display: flex;
                        height: 100%;
                        flex-direction: column;
                        color: #020309;
                        background: #FFFFFF;
                        border-radius: 4px;
                        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
                    }
                }
    
                img{
                    max-height: 208px;
                    flex-basis: 208px;
                    object-fit: cover;
                    aspect-ratio: 4/3;
                }
            }
        }
    
        .AnunciosCarrosFundo{

            #ACF{
                display: flex;
                width: 100%;
                padding-bottom: 24px;
                justify-content: space-between;

                a{
                    width: 184px;

                    article{
                        height: 100%;
                        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
                        display: flex;
                        flex-direction: column;
                        color: #020309;
                        background: #FFFFFF;
                        border-radius: 4px;

                        img{
                            max-height: 131px;
                            flex-basis: 131px;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    //Classes dos elementos da Grid

    .TituloAnuncio{
        width: 100%;
        font-size: 22px;
        line-height: 34px;
        font-weight: 700;
        color: #020309;
        margin: 0;
        margin-bottom: 0px;
        margin-bottom: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .AnuncioInfo{
        display: flex;
        flex-direction: column;
        flex: 1 2 auto;
        padding: 8px;
        justify-content: space-between;
        }

    .AnuncioUl{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 8px;
        color: #020309;
        li{
            display: inline-block;
            position: relative;
            padding-right: 16px;
        }
        ::after{
            display: block;
            position: absolute;
            content: "";
            width: 2px;
            height: 2px;
            background: #020309;
            border-radius: 50%;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
        }
        :last-of-type{
            ::after{
                display: none;
            }
        }
    }

    .Price{
        display: flex;
        line-height: 22px;
        font-weight: 700;
        font-size: 22px;
        color: #C82814;
        margin: 0;
        sub{
            padding-left: 4px;
            font-size: 10px;
            line-height: 20px;
        }
    }

    //Continuação Main
    
    .MainBottom{
        display:flex;
        flex-direction: column;
        max-width: 1180px;
        margin: 0 auto;

        .ListasMain{
            padding: 0 8px;

            h4{
                line-height: 26px;
                font-weight: 700;
                font-size: 11px;
            }

            ol{
                padding-bottom: 16px;

                li{
                    display: inline-block;
                    margin-right: 16px;
                    height: 24px;

                    a{
                        font-size: 11px;
                        font-weight: 700;
                        color: #66676C;
                        text-decoration: underline;

                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    
    .Anuncios{
        justify-content: space-between;
        padding:16px;

        img{
            max-width:calc(100% - 16px);
            max-height: 360px;
            border-radius: 4px;
        }
    }

    .BarraAzul{
        display:flex;
        flex-direction: row;
        justify-content: center; //horizontal
        align-items: center; //vertical
        text-align: center;
        background: #0071CE;
        color:white;
        padding: 16px;
        height: 92px;

        h4{
            margin-right: 24px;
            font:inherit;
        }

        a{
            color: white;
            text-decoration: none;
            border: 2px solid white;
            border-radius: 4px;
            font-weight: 700;
            font-size: 16px;  
            padding: 12px 46px;   
        }

        a:hover{
            padding: 9px 43px;
            border: 5px solid;
            border-color: rgb(255, 255, 255);
        }
    }
}

    /*FOOTER*/

footer{
    display: block;
    width: 100% ;
    background-color: #EBECEF;
    padding: 48px 0;

    .footercontent{
        display: flex;
        justify-content: space-between;
        max-width: 1240px;
        margin:auto; /*Centers the section*/
        flex-flow: row wrap;

        a{
            display: flex;
            margin-top: 12px;
            margin-bottom: 12px;
            font-size: 12px;
            align-items: center;
            text-decoration: none;
            color: inherit;
        }

        article{
            margin: 0 16px;
            flex-basis: calc(25% - 32px);
        }

        p{
            display: flex;
            font-size: 12px;
            align-items: center;
            color: inherit;
        }

        img{
            margin-right: 8px;
        }

        ul{
            list-style: none;
        }
    }

    h6{
        font-size: 20px;
        line-height: 22px;
        font-weight: 500;
        color: #020309;
        margin: 0;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    #ColunaTituloAbaixo{
        margin-top: 48px;
    } 
    
    //Linha centralizada
    span{ 
        height: 1px;
        width: 50%;
        border-top: 1px solid #DCDDE0;
        margin: 48px auto;
        text-align: center;
    }

    .footerbottom{
        min-width: calc(100% - 16px);
        margin: 0 auto;
        
        p{
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            margin-bottom: 24px;
            justify-content: center;
        }

        //Google play e App Store
        div{
            display: flex;
            justify-content: center;
        }

        
    }
}   

    /*MEDIA QUERRIES*/

@media (max-width: 576px){
    main{
        .BarraAzul{
            flex-direction: column;
            height: 110px;
            h4{
                margin-bottom: 16px;
            }
            
            a{
                width: 100%;
            }
            
        }
    }

    footer{
        .footercontent{
            flex-flow: column wrap;
            flex-basis: 100%;
            margin: 16px 16px;

            span{
                width: 100%;
            }
        }
    }
}

@media (max-width: 780px){

        .pesquisa-desktop{
            display: none;
        }
        .pesquisa-tablet{
            display: inline-block!important;
            width: 100%;
            text-align: right;
        }

        .Anuncios{
            overflow: scroll;
            white-space: nowrap;
            padding: 16px 8px;

            img{
                max-height: 335px!important;
                max-width: 100%!important;
                margin: 0 8px;
            }
        }

        /*HEADER*/

        #hamburguer{
            height: 100%;
            padding: 0 16px 0 0;
            background: none;
            border: 0;
        }
        .icon{
            height: 22px;
            width: 22px;
            fill: #0071CE;
        }

        #n1carros{
            display: none !important;
        }

        .nav-menu-item{
            display: none !important;
        }
}

@media (min-width: 781px){
    .Anuncios{
        display:flex;
    }
    #BannerTelemovel{
        display: none !important;
    }
}

@media (max-width: 1280px){

    #loginorcreate2{
        display: none !important;
    }

    .badge{
        display: none !important;
    }

    .Principal{
        margin:0 8px;
    }

    .Banner{
        display: none;
    }

    #separador{
        width: 100%;
        height: 4px;
        background: #EBECEF;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #ACF{
        overflow-x: scroll;
        a{
            margin-left: 16px;
        }
    }

    #AED{
        display: flex;
        overflow-x: scroll;
        width: 100%;
        padding-bottom: 24px;
        flex-wrap: nowrap;

        a{
            width: 312px;
            margin-left: 16px;
            margin-bottom: 16px;
        }
    }
}

@media (min-width: 1281px){

    #separador{
        display: none;
    }

    .Principal{
        width: 100%;
        display: grid;
        grid-gap: 24px 16px;
        grid-template-columns: auto repeat(2, 581px) auto;
        grid-template-rows: auto 1fr repeat(3, auto);

        .Banner{
            display: block;
            grid-column: 1/span 4;
            grid-row: 1/span 3;
        }

        .FormsBox1{
            grid-row: 2;
            grid-column: 2;
        }

        .OportunidadeDoDia{
            grid-row: 4;
            grid-column: 2;
        }

        .AnunciosEmDestaque{
            grid-row: 4;
            grid-column: 3;

            section{
                flex-wrap: wrap;
            }
        }
    
        .AnunciosCarrosFundo{
            grid-row: 6;
            grid-column: 2/span 2;
        }
    }
}
